@using IydeParfume.Areas.Client.ViewComponents
@using IydeParfume.Areas.Client.ViewModels.Address;
@model AddViewModel
<!-- Basket -->
<div class="Basket-section">
    <div class="container">
        <div class="basketHeader">
            <h5 class="title">SƏBƏTİM</h5>
            <span>(4 məhsul)</span>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="account">
                    <div class="account-delivery">
                        <div>
                            <span>1</span>
                            Çatdırılma
                        </div>
                    </div>
                    <div class="address">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <button type="button" class="btn addressAddCard" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <h4>Ünvan əlavə edin</h4>
                                    <i class="fa-solid fa-plus"></i>
                                </button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form method="post" asp-route="client-addaddress-add" class="modal-body">
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Unvan</label>
                                                    <input asp-for="AddressName" class="form-control" id="exampleFormControlInput1">
                                                    <span class="text-danger" asp-validation-for="AddressName"></span>

                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Tam ünvan</label>
                                                    <input asp-for="FullAddress" type="address" class="form-control" id="exampleFormControlInput1">
                                                    <span class="text-danger" asp-validation-for="FullAddress"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Şəhər/Rayon</label>
                                                    <input asp-for="City" type="address" class="form-control" id="exampleFormControlInput1">
                                                    <span class="text-danger" asp-validation-for="City"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Telefon</label>
                                                    <input asp-for="Phone" type="telephone" class="form-control" id="exampleFormControlInput1">
                                                    <span class="text-danger" asp-validation-for="Phone"></span>
                                                </div>
                                            </form>
                                            <div class="modal-footer">
                                                <a asp-route="client-addaddress-add"   class="btn blackButton">ÜNVAN YARAT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="" class="address-card">
                                    <div class="address-inner">
                                        <h2 class="title">
                                            Tam ünvan
                                            <p>Qalubiyye bina27 menzil 65</p>
                                        </h2>
                                        <h2 class="title">
                                            Şəhər/Rayon
                                            <p>Xirdalan seh</p>
                                        </h2>
                                        <h2 class="title">
                                            Telefon
                                            <p>+994515980998</p>
                                        </h2>

                                    </div>
                                    <div class="address-inner-bottom">
                                        <div>
                                            <p>Qalubiyye bina27</p>

                                        </div>
                                        <div class="buttons">
                                            <button>
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="account-payment">
                        <div class="title">
                           
                            <p>(Çatdırılma: Pulsuz)</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync(nameof(Basket))

            <div class="col-lg-1"></div>

        </div>
    </div>
</div>
<!-- Basket End -->
