@using IydeParfume.Areas.Client.ViewModels.Address;
@model AddViewModel



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-route="client-addaddress-add" class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Unvan</label>
                    <input asp-for="AddressName"  class="form-control" id="exampleFormControlInput1">
                    <span class="text-danger" asp-validation-for="AddressName"></span>

                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tam ünvan</label>
                    <input asp-for="FullAddress" type="address" class="form-control" id="exampleFormControlInput1">
                    <span class="text-danger" asp-validation-for="FullAddress"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Şəhər/Rayon</label>
                    <input asp-for="City" type="address" class="form-control" id="exampleFormControlInput1">
                    <span class="text-danger" asp-validation-for="City"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Telefon</label>
                    <input asp-for="Phone" type="telephone" class="form-control" id="exampleFormControlInput1">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </form>
            <div class="modal-footer">
                <a asp-route="client-addaddress-add"  type="button" class="btn blackButton">ÜNVAN YARAT</a>
            </div>
        </div>
    </div>
</div>