@using IydeParfume.Areas.Client.ViewModels.Address;
@model List<AddViewModel>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Unvan</label>
                    <input type="address" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tam ünvan</label>
                    <input type="address" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Şəhər/Rayon</label>
                    <input type="address" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Telefon</label>
                    <input type="telephone" class="form-control" id="exampleFormControlInput1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blackButton">ÜNVAN YARAT</button>
            </div>
        </div>
    </div>
</div>